---
import TailwindIcon from "../icons/Tailwind.astro";
---

<div class="flex gap-2 bg-[#38BDF8]/30 rounded-full w-fit px-3 items-center">
  <TailwindIcon class="size-4" />
  <span>Tailwind</span>
</div>
