---
import TypescriptIcon from "../icons/Typescript.astro";
---

<div class="flex gap-2 bg-[#3178C6]/30 rounded-full w-fit px-3 items-center">
  <TypescriptIcon class="size-4" />
  <span>TypeScript</span>
</div>
