---
import CopyrightIcon from "./icons/Copyright.astro";
import InstagramIcon from "./icons/Instagram.astro";
import MailIcon from "./icons/Mail.astro";
---

<footer
  class="w-full border-t-2 border-gray-800/10 backdrop-blur-xl backdrop-brightness-50 px-5 py-10 items-start text-white/80 grid grid-flow-row md:grid-flow-col gap-y-3 place-items-center"
>
  <div class="flex items-center text-lg">
    <CopyrightIcon class="size-4 mr-1" />
    2025 | Daniel Mass
  </div>

  <a
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-white flex items-center group gap-x-2 hover:-translate-y-1 transition-all duration-300"
    href="https://www.instagram.com/invvd._/"
    ><InstagramIcon class="size-4" /> Instagram</a
  >
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="hover:text-white flex items-center group gap-x-2 hover:-translate-y-1 transition-all duration-300"
    href="https://www.instagram.com/invvd._/"
    ><MailIcon class="size-4" /> danymassmcf@gmail.com</a
  >
</footer>
