---
import Image from "astro/components/Image.astro";
import Navigation from "./Navigation.astro";
import HomeIcon from "./icons/Home.astro";
import CodeIcon from "./icons/Code.astro";
import ToolsIcon from "./icons/Tools.astro";
import UserCircleIcon from "./icons/UserCircle.astro";
import MobileMessageIcon from "./icons/MobileMessage.astro";

const sections = [
  { Icon: HomeIcon, title: "Inicio", url: "/" },
  { Icon: CodeIcon, title: "Proyectos", url: "/#proyectos" },
  { Icon: ToolsIcon, title: "Tecnologías", url: "#tecnologias" },
  { Icon: UserCircleIcon, title: "Acerca de mi", url: "#acerca-de-mi" },
  { Icon: MobileMessageIcon, title: "Contacto", url: "#contacto" },
];
---

<header
  class="sticky top-0 w-full z-10 backdrop-brightness-[5%] border-b-2 border-gray-800/10 py-3 px-8 shadow-lg items-center justify-center text-white/90 flex"
>
  <div class="max-w-[1140px] flex w-full justify-center md:justify-between">
    <div class="flex items-center mr-5">
      <Image
        loading="eager"
        width={500}
        height={500}
        src="/dani.webp"
        alt="Foto de perfil de Daniel Mass"
        class="mr-4 size-12 rounded-full"
        draggable="false"
      />
      <h1 class="text-xl flex items-center font-semibold">Daniel Mass</h1>
    </div>
    <Navigation sections={sections} />
  </div>
</header>

<style>
  h1 {
    filter: drop-shadow(0 0 5px #63e);
  }
</style>
