---
import Header from "../components/Header.astro";
import "aos/dist/aos.css";
---

<!doctype html>
<html class="bg-black" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Daniel Mass | Portfolio</title>
  </head>
  <body class="text-white">
    <Header />
    <div class="px-10 max-w-[1140px] m-auto">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Satoshi Variable";
    src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  html {
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Satoshi Variable", system-ui, sans-serif;

    color: #fff;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion) {
    body {
      scroll-behavior: auto;
    }
  }

  .textGlow {
    font-style: normal;
    color: #fff;
    filter: drop-shadow(0 0 10px rgba(102, 51, 238, 0));
    animation: shadowPulse 3s ease-in-out infinite;
  }

  @keyframes shadowPulse {
    0% {
      filter: drop-shadow(
        0 0 10px rgba(102, 51, 238, 0)
      ); /* Sombra invisible al inicio */
    }
    50% {
      filter: drop-shadow(
        0 0 10px rgba(102, 51, 238, 1)
      ); /* Sombra visible a mitad de animación */
    }
    100% {
      filter: drop-shadow(
        0 0 10px rgba(102, 51, 238, 0)
      ); /* Vuelve a sombra invisible */
    }
  }
</style>
